.social {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 2%;
}

.imgGroup {
  display: flex;
}

.imgGroup img {
  width: 40%;
}

.largeImg {
}
@media (max-width: 430px) {
  .social {
    flex-direction: column;
  }
  .imgGroup img {
    width: 20%;
  }
  .largeImg img {
    width: 70%;
  }
}
