.footerContainer {
  width: 1400px;
  margin: 30px 10px;
}
.footInfo {
  display: flex;

  flex-direction: row;
  margin-bottom: 20px;
}

.info {
  width: 70%;
}

@media (max-width: 430px) {
  .footInfo {
    flex-direction: column;
  }
  .info {
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
}
