.footLinks {
  display: flex;
  flex-direction: column;
}

.faq {
  display: flex;
  border-top: 1px solid white;
  justify-content: space-between;
  gap: 5%;
}

.faqP1 {
  display: flex;
  gap: 3%;
  width: 30%;
}

.flPart1 {
  display: flex;
  gap: 5%;
}

.faqP2 {
  text-align: left;
}

@media (max-width: 430px) {
  .faq {
    flex-direction: column;
    border-top: 0;
  }
  .faqP1 {
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid white;
  }
  .flPart1 {
    flex-direction: column;
  }
}
