@import "../../_settings/variables.css";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  background-color: black;
}

.mainCarousel {
  max-width: 1400px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}
.textContainer {
  display: flex;
  flex-direction: column;
}

.smallImage {
  height: 5%;
}

.large {
  color: white;
}
.medium {
  color: var(--grey-6);
}

.mainCarousel * {
  margin-right: 2.5%;
}

.marginNone {
  margin: none;
}

.moon {
  margin: 2.5%;
  max-width: 800px;
}
